<header style="background-color: #949494;">
    <button (click)="openProfile()" mat-flat-button="basic"
        style="background-color: #f3f0ed; margin: 10px; width:100px;">Profile</button>
    <button (click)="logOut()" mat-flat-button="basic" style="background-color: #f3f0ed; width:100px;">Log out</button>
</header>
<div class="movies-container">
    <mat-card *ngFor="let movie of movies; let i = index">
        <mat-card-header>
            <mat-card-title>{{ movie.Title }}</mat-card-title>
            <mat-card-subtitle>
                Directed by: {{ movie.Director.Name }}
            </mat-card-subtitle>
        </mat-card-header>
        <div class="img-container">
            <img src="{{ movie.ImagePath }}" alt="{{ movie.Title }}"
                style="border: 1px solid #86705b;height:300px!important" />
        </div>
        <mat-card-actions>
            <button mat-button id="action-btn" (click)="openDescriptionDialog(movie.Title, movie.Description)">
                Description
            </button>
            <button mat-button id="action-btn" (click)="openGenreDialog(movie.Genre.Name, movie.Genre.Description)">
                Genre
            </button>
            <button mat-button id="action-btn" (click)="
            openDirectorDialog(
              movie.Director.Name,
              movie.Director.Bio,
              movie.Director.Birth,
              movie.Director.Death
            )
          ">
                Director
            </button>
            <!-- Favorite icon -->
            <button mat-icon-button (click)="toggleFavorite(movie)">
                <mat-icon *ngIf="!isFavorite(movie._id)"> favorite_border </mat-icon>
                <mat-icon *ngIf="isFavorite(movie._id)"> favorite </mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>